
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  /* width: 150px; */
  padding: 18px 34px;
  color: white;
  font-size: 20px;
  background-color: #FD6E0A;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* main style */
header{
   background-color: #FFF8F3;
   /* padding-top: 50px; */
   /* background: url(/images/developer.png); */
   background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
   background-position: top left, bottom right;
   background-repeat: no-repeat;
  }

nav{
  /* border: 1px solid red; */
    display: flex;
    width: 72%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.logo h2{
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
nav .menu{
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .menu li a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  font-weight: 400;
}

#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
  max-width: 1332px;
  margin:50px 38px 0 230px;

}
.banner-content{
  max-width: 560px;
  /* background-color: yellowgreen; */
}

.banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1{
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #757775;
  margin-bottom: 30px;
  line-height: 30px;
}
.header-content-btn .space{
  margin-right: 30px;
}
.header-content-btn .space{
  margin-left: 30px;
  background-color: #FFF8F3;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
}
.banner-image img{
  max-width: 584px;
  vertical-align: middle;
}

#about{
  padding-top: 121px;
}

#about .about-container{
  width: 72%;
  max-width: 1140px;
  background-color: #FFF8F3;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
}

#about .section-heading h2{
  max-width: 827px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;

}
#about .section-heading p{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#about .about-info{
  display: flex;
  /* gap: 50px; */
  justify-content:space-around;
}
.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
  font-weight: 400;
  /* font-weight: mixed; */
  
}
.about-info .info-card h4{
  font-size: 20px;
  line-height: 30px;
  color: #474747;
    font-weight: 700;

}

