
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
#about, #resume{
  margin: 130px;
}

.btn{
  /* width: 150px; */
  padding: 18px 34px;
  color: white;
  font-size: 20px;
  background-color: #FD6E0A;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.text-align{
  text-align: center;
}
/* main style */
header{
   background-color: #FFF8F3;
   /* padding-top: 50px; */
   /* background: url(/images/developer.png); */
   background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
   background-position:top left, bottom right;
   background-repeat: no-repeat;
  }

nav{
  /* border: 1px solid red; */
    display: flex;
    width: 72%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.logo h2{
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
nav .menu{
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .menu li a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  font-weight: 400;
}

#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
  max-width: 1332px;
  margin:50px 38px 0 230px;

}
.banner-content{
  max-width: 560px;
  /* background-color: yellowgreen; */
}

.banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1{
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #757775;
  margin-bottom: 30px;
  line-height: 30px;
}
.header-content-btn .space{
  margin-right: 30px;
}
.header-content-btn .space{
  margin-left: 30px;
  background-color: #FFF8F3;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
}
.banner-image img{
  max-width: 584px;
  vertical-align: middle;
}

#about .about-container{
  width: 72%;
  max-width: 1140px;
  background-color: #FFF8F3;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
}


#about .section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;

}
#about .section-heading p{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#about .about-info{
  display: flex;
  /* gap: 50px; */
  justify-content:space-around;
  /* max-width: 782px; */
}
.about-info .info-card p{
  font-size: 18px;
  line-height: 30px;
  color: #757575; 
  /* font-weight: mixed; */
  
}
.about-info .info-card h4{
  font-size: 18px;
  color: #474747;
    font-weight: bold;
}
/* skilssssssssssss */

.skills-container{
  width: 72%;
  max-width: 1140px;
  margin: 0 auto;
}
.skills-heading{
  text-align: center;
}

#skills .skills-heading h2{
  /* max-width: 167px; */
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
#skills .skills-heading p{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.skills-div{
  max-width: 100%;
  display: flex;
  gap: 24px;
  padding-top: 50px;
  justify-content: center;
}
.skills-card{
  max-width: 100%;
  /* border: 1px solid rebeccapurple; */
  border-radius: 5px;
  box-shadow:0 6px 50px 0 #00000028;
  
}
.skills-card img{
  padding: 30px;
}
.skills-card .skills-info{
  padding: 30px;
}
.skills-info h4{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skills-info p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #757575;
}
.resume-heading h2{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 113px;
  text-align: center;
}
.resume-body{
  display: flex;
  gap: 71px;
  width: 72%;
  max-width: 1140px;
  margin: 0 auto;
}
.section-card-list h3{
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
}
.section-card-list h4{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-card-list .card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.section-card-list .card-text{
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

hr{
  margin: 30px 0;
}


#footer-container{
  display: flex;
  justify-content: space-around;
  background-color: #FFF8F3;
  padding: 130px 0 ;
  
}
#footer-container h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 28px;
}
.contacts p{
  max-width: 562px;
  color: #181818;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}
.icons a{
  margin-right: 24px;
}
.form input{
  display: block;
  max-width: 462px;
  margin-bottom: 24px;
  border: none;
  color: #757575;
  width: 100%;
  max-width: 461px;
  padding: 18px 30px;
}
.textarea{
  border: none;
  resize: none;
}
.fbtn{
  display: block;
  margin-top: 24px;
  color: white;
}
.hide{
  display: none;
}

@media screen and (max-width:576px){
  #about, 
  #skills, 
  #resume,
  #footer-container{
  margin: 50px 10px;
}
   #about .about-container,
  .skills-container{
  max-width: 100%;
} 
#about .about-info, 
.skills-div,
.resume-body,
#footer-container{
  flex-direction: column;

}
/* about */
#about .about-container{
  max-width: 100%;
  width: 370px;
  padding: 10px;
}
.about-info .info-card {
  margin-bottom: 10px;
}

/* resume */
#resume{
  max-width: 100%;
  
}

.resume-heading h2{
  margin-bottom: 40px;
}
hr {
    margin-bottom: 0;
}
.text-align {
   margin-top: 20px;
}
.skills-card .skills-info {
    padding-top: 0;
}
.skills-card .skills-info h4{
    margin-bottom: 10px;
}
#footer-container{
  padding: 0;
  gap: 50px;
}
#footer-container .contacts, .form{
  text-align: center;
}



}




